{
  "openapi": "3.0.0",
  "info": {
    "title": "Revolt API",
    "description": "Open source user-first chat platform.",
    "termsOfService": "https://revolt.chat/terms",
    "contact": {
      "name": "Revolt Support",
      "url": "https://revolt.chat",
      "email": "contact@revolt.chat"
    },
    "license": {
      "name": "AGPLv3",
      "url": "https://github.com/revoltchat/delta/blob/master/LICENSE"
    },
    "version": "0.6.3"
  },
  "servers": [
    {
      "url": "https://api.revolt.chat",
      "description": "Revolt Production"
    },
    {
      "url": "https://revolt.chat/api",
      "description": "Revolt Staging"
    },
    {
      "url": "http://local.revolt.chat:8000",
      "description": "Local Revolt Environment"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Query Node",
        "description": "Fetch the server configuration for this Revolt instance.",
        "operationId": "root_root",
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevoltConfig"
                }
              }
            }
          }
        }
      }
    },
    "/admin/stats": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Query Stats",
        "description": "Fetch various technical statistics.",
        "operationId": "stats_stats",
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          }
        }
      }
    },
    "/admin/messages": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Globally Fetch Messages",
        "description": "This is a privileged route to globally fetch messages.",
        "operationId": "message_query_message_query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/@me": {
      "get": {
        "tags": [
          "User Information"
        ],
        "summary": "Fetch Self",
        "description": "Retrieve your user information.",
        "operationId": "fetch_self_req",
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/{target}": {
      "get": {
        "tags": [
          "User Information"
        ],
        "summary": "Fetch User",
        "description": "Retrieve a user's information.",
        "operationId": "fetch_user_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "User Information"
        ],
        "summary": "Edit User",
        "description": "Edit currently authenticated user.",
        "operationId": "edit_user_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataEditUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/{target}/flags": {
      "get": {
        "tags": [
          "User Information"
        ],
        "summary": "Fetch User Flags",
        "description": "Retrieve a user's flags.",
        "operationId": "fetch_user_flags_fetch_user_flags",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlagResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/@me/username": {
      "patch": {
        "tags": [
          "User Information"
        ],
        "summary": "Change Username",
        "description": "Change your username.",
        "operationId": "change_username_req",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataChangeUsername"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          },
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/{target}/default_avatar": {
      "get": {
        "tags": [
          "User Information"
        ],
        "summary": "Fetch Default Avatar",
        "description": "This returns a default avatar based on the given id.",
        "operationId": "get_default_avatar_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Avatar Picture",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/users/{target}/profile": {
      "get": {
        "tags": [
          "User Information"
        ],
        "summary": "Fetch User Profile",
        "description": "Retrieve a user's profile data.\n\nWill fail if you do not have permission to access the other user's profile.",
        "operationId": "fetch_profile_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/dms": {
      "get": {
        "tags": [
          "Direct Messaging"
        ],
        "summary": "Fetch Direct Message Channels",
        "description": "This fetches your direct messages, including any DM and group DM conversations.",
        "operationId": "fetch_dms_req",
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/{target}/dm": {
      "get": {
        "tags": [
          "Direct Messaging"
        ],
        "summary": "Open Direct Message",
        "description": "Open a DM with another user.\n\nIf the target is oneself, a saved messages channel is returned.",
        "operationId": "open_dm_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/{target}/mutual": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Fetch Mutual Friends And Servers",
        "description": "Retrieve a list of mutual friends and servers with another user.",
        "operationId": "find_mutual_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutualResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/{target}/friend": {
      "put": {
        "tags": [
          "Relationships"
        ],
        "summary": "Accept Friend Request",
        "description": "Accept another user's friend request.",
        "operationId": "add_friend_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Relationships"
        ],
        "summary": "Deny Friend Request / Remove Friend",
        "description": "Denies another user's friend request or removes an existing friend.",
        "operationId": "remove_friend_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/{target}/block": {
      "put": {
        "tags": [
          "Relationships"
        ],
        "summary": "Block User",
        "description": "Block another user by their id.",
        "operationId": "block_user_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Relationships"
        ],
        "summary": "Unblock User",
        "description": "Unblock another user by their id.",
        "operationId": "unblock_user_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/users/friend": {
      "post": {
        "tags": [
          "Relationships"
        ],
        "summary": "Send Friend Request",
        "description": "Send a friend request to another user.",
        "operationId": "send_friend_request_req",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSendFriendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/bots/create": {
      "post": {
        "tags": [
          "Bots"
        ],
        "summary": "Create Bot",
        "description": "Create a new Revolt bot.",
        "operationId": "create_create_bot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataCreateBot"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/bots/{target}/invite": {
      "get": {
        "tags": [
          "Bots"
        ],
        "summary": "Fetch Public Bot",
        "description": "Fetch details of a public (or owned) bot by its id.",
        "operationId": "fetch_public_fetch_public_bot",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBot"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "post": {
        "tags": [
          "Bots"
        ],
        "summary": "Invite Bot",
        "description": "Invite a bot to a server or group by its id.`",
        "operationId": "invite_invite_bot",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteBotDestination"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/bots/{bot}": {
      "get": {
        "tags": [
          "Bots"
        ],
        "summary": "Fetch Bot",
        "description": "Fetch details of a bot you own by its id.",
        "operationId": "fetch_fetch_bot",
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchBotResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/bots/@me": {
      "get": {
        "tags": [
          "Bots"
        ],
        "summary": "Fetch Owned Bots",
        "description": "Fetch all of the bots that you have control over.",
        "operationId": "fetch_owned_fetch_owned_bots",
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnedBotsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/bots/{target}": {
      "delete": {
        "tags": [
          "Bots"
        ],
        "summary": "Delete Bot",
        "description": "Delete a bot by its id.",
        "operationId": "delete_delete_bot",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Bots"
        ],
        "summary": "Edit Bot",
        "description": "Edit bot details by its id.",
        "operationId": "edit_edit_bot",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataEditBot"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/ack/{message}": {
      "put": {
        "tags": [
          "Messaging"
        ],
        "summary": "Acknowledge Message",
        "description": "Lets the server and all other clients know that we've seen this message id in this channel.",
        "operationId": "channel_ack_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "message",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}": {
      "get": {
        "tags": [
          "Channel Information"
        ],
        "summary": "Fetch Channel",
        "description": "Fetch channel by its id.",
        "operationId": "channel_fetch_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Channel Information"
        ],
        "summary": "Close Channel",
        "description": "Deletes a server channel, leaves a group or closes a group.",
        "operationId": "channel_delete_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "leave_silently",
            "in": "query",
            "description": "Whether to not send a leave message",
            "schema": {
              "description": "Whether to not send a leave message",
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Channel Information"
        ],
        "summary": "Edit Channel",
        "description": "Edit a channel object by its id.",
        "operationId": "channel_edit_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataEditChannel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/members": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Fetch Group Members",
        "description": "Retrieves all users who are part of this group.",
        "operationId": "members_fetch_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/invites": {
      "post": {
        "tags": [
          "Channel Invites"
        ],
        "summary": "Create Invite",
        "description": "Creates an invite to this channel.\n\nChannel must be a `TextChannel`.",
        "operationId": "invite_create_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/messages": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Fetch Messages",
        "description": "Fetch multiple messages.",
        "operationId": "message_query_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of messages to fetch\n\nFor fetching nearby messages, this is \\`(limit + 1)\\`.",
            "schema": {
              "description": "Maximum number of messages to fetch\n\nFor fetching nearby messages, this is \\`(limit + 1)\\`.",
              "type": "integer",
              "format": "int64",
              "maximum": 100.0,
              "minimum": 1.0,
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Message id before which messages should be fetched",
            "schema": {
              "description": "Message id before which messages should be fetched",
              "type": "string",
              "maxLength": 26,
              "minLength": 26,
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Message id after which messages should be fetched",
            "schema": {
              "description": "Message id after which messages should be fetched",
              "type": "string",
              "maxLength": 26,
              "minLength": 26,
              "nullable": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Message sort direction",
            "schema": {
              "description": "Message sort direction",
              "$ref": "#/components/schemas/MessageSort",
              "nullable": true
            }
          },
          {
            "name": "nearby",
            "in": "query",
            "description": "Message id to search around\n\nSpecifying 'nearby' ignores 'before', 'after' and 'sort'. It will also take half of limit rounded as the limits to each side. It also fetches the message ID specified.",
            "schema": {
              "description": "Message id to search around\n\nSpecifying 'nearby' ignores 'before', 'after' and 'sort'. It will also take half of limit rounded as the limits to each side. It also fetches the message ID specified.",
              "type": "string",
              "maxLength": 26,
              "minLength": 26,
              "nullable": true
            }
          },
          {
            "name": "include_users",
            "in": "query",
            "description": "Whether to include user (and member, if server channel) objects",
            "schema": {
              "description": "Whether to include user (and member, if server channel) objects",
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Send Message",
        "description": "Sends a message to the given channel.",
        "operationId": "message_send_message_send",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate requests",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataMessageSend"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/search": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Search for Messages",
        "description": "This route searches for messages within the given parameters.",
        "operationId": "message_search_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptionsMessageSearch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{_target}/messages/stale": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Poll Message Changes",
        "description": "This route returns any changed message objects and tells you if any have been deleted.\n\nDon't actually poll this route, instead use this to update your local database.\n\n**DEPRECATED**",
        "operationId": "message_query_stale_req",
        "parameters": [
          {
            "name": "_target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptionsQueryStale"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/messages/{msg}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Fetch Message",
        "description": "Retrieves a message by its id.",
        "operationId": "message_fetch_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "msg",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Messaging"
        ],
        "summary": "Delete Message",
        "description": "Delete a message you've sent or one you have permission to delete.",
        "operationId": "message_delete_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "msg",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Messaging"
        ],
        "summary": "Edit Message",
        "description": "Edits a message that you've previously sent.",
        "operationId": "message_edit_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "msg",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataEditMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/messages/bulk": {
      "delete": {
        "tags": [
          "Messaging"
        ],
        "summary": "Bulk Delete Messages",
        "description": "Delete multiple messages you've sent or one you have permission to delete.\n\nThis will always require `ManageMessages` permission regardless of whether you own the message or not.\n\nMessages must have been sent within the past 1 week.",
        "operationId": "message_bulk_delete_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptionsBulkDelete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/create": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create Group",
        "description": "Create a new group channel.",
        "operationId": "group_create_req",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataCreateGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/recipients/{member}": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Add Member to Group",
        "description": "Adds another user to the group.",
        "operationId": "group_add_member_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Remove Member from Group",
        "description": "Removes a user from the group.",
        "operationId": "group_remove_member_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/join_call": {
      "post": {
        "tags": [
          "Voice"
        ],
        "summary": "Join Call",
        "description": "Asks the voice server for a token to join the call.",
        "operationId": "voice_join_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoiceUserResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/permissions/{role_id}": {
      "put": {
        "tags": [
          "Channel Permissions"
        ],
        "summary": "Set Role Permission",
        "description": "Sets permissions for the specified role in this channel.\n\nChannel must be a `TextChannel` or `VoiceChannel`.",
        "operationId": "permissions_set_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Data"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/permissions/default": {
      "put": {
        "tags": [
          "Channel Permissions"
        ],
        "summary": "Set Default Permission",
        "description": "Sets permissions for the default role in this channel.\n\nChannel must be a `Group`, `TextChannel` or `VoiceChannel`.",
        "operationId": "permissions_set_default_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataDefaultChannelPermissions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/messages/{msg}/reactions/{emoji}": {
      "put": {
        "tags": [
          "Interactions"
        ],
        "summary": "Add Reaction to Message",
        "description": "React to a given message.",
        "operationId": "message_react_react_message",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "msg",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "emoji",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Interactions"
        ],
        "summary": "Remove Reaction(s) to Message",
        "description": "Remove your own, someone else's or all of a given reaction.\n\nRequires `ManageMessages` if changing others' reactions.",
        "operationId": "message_unreact_unreact_message",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "msg",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "emoji",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Remove a specific user's reaction",
            "schema": {
              "description": "Remove a specific user's reaction",
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "remove_all",
            "in": "query",
            "description": "Remove all reactions",
            "schema": {
              "description": "Remove all reactions",
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/messages/{msg}/reactions": {
      "delete": {
        "tags": [
          "Interactions"
        ],
        "summary": "Remove All Reactions from Message",
        "description": "Remove your own, someone else's or all of a given reaction.\n\nRequires `ManageMessages` permission.",
        "operationId": "message_clear_reactions_clear_reactions",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "msg",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{target}/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Creates a webhook",
        "description": "Creates a webhook which 3rd party platforms can use to send messages",
        "operationId": "webhook_create_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/channels/{channel_id}/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Gets all webhooks",
        "description": "Gets all webhooks inside the channel",
        "operationId": "webhook_fetch_all_req",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/create": {
      "post": {
        "tags": [
          "Server Information"
        ],
        "summary": "Create Server",
        "description": "Create a new server.",
        "operationId": "server_create_req",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataCreateServer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}": {
      "get": {
        "tags": [
          "Server Information"
        ],
        "summary": "Fetch Server",
        "description": "Fetch a server by its id.",
        "operationId": "server_fetch_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "include_channels",
            "in": "query",
            "description": "Whether to include channels",
            "schema": {
              "description": "Whether to include channels",
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchServerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Server Information"
        ],
        "summary": "Delete / Leave Server",
        "description": "Deletes a server if owner otherwise leaves.",
        "operationId": "server_delete_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "leave_silently",
            "in": "query",
            "description": "Whether to not send a leave message",
            "schema": {
              "description": "Whether to not send a leave message",
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Server Information"
        ],
        "summary": "Edit Server",
        "description": "Edit a server by its id.",
        "operationId": "server_edit_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataEditServer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/ack": {
      "put": {
        "tags": [
          "Server Information"
        ],
        "summary": "Mark Server As Read",
        "description": "Mark all channels in a server as read.",
        "operationId": "server_ack_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/channels": {
      "post": {
        "tags": [
          "Server Information"
        ],
        "summary": "Create Channel",
        "description": "Create a new Text or Voice channel.",
        "operationId": "channel_create_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataCreateChannel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/members": {
      "get": {
        "tags": [
          "Server Members"
        ],
        "summary": "Fetch Members",
        "description": "Fetch all server members.",
        "operationId": "member_fetch_all_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "exclude_offline",
            "in": "query",
            "description": "Whether to exclude offline users",
            "schema": {
              "description": "Whether to exclude offline users",
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllMemberResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/members/{member}": {
      "get": {
        "tags": [
          "Server Members"
        ],
        "summary": "Fetch Member",
        "description": "Retrieve a member.",
        "operationId": "member_fetch_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Server Members"
        ],
        "summary": "Kick Member",
        "description": "Removes a member from the server.",
        "operationId": "member_remove_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{server}/members/{target}": {
      "patch": {
        "tags": [
          "Server Members"
        ],
        "summary": "Edit Member",
        "description": "Edit a member by their id.",
        "operationId": "member_edit_req",
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataMemberEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/members_experimental_query": {
      "get": {
        "tags": [
          "Server Members"
        ],
        "summary": "Query members by name",
        "description": "Query members by a given name, this API is not stable and will be removed in the future.",
        "operationId": "member_experimental_query_member_experimental_query",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "String to search for",
            "required": true,
            "schema": {
              "description": "String to search for",
              "type": "string"
            }
          },
          {
            "name": "experimental_api",
            "in": "query",
            "description": "Discourage use of this API",
            "required": true,
            "schema": {
              "description": "Discourage use of this API",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberQueryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{server}/bans/{target}": {
      "put": {
        "tags": [
          "Server Members"
        ],
        "summary": "Ban User",
        "description": "Ban a user by their id.",
        "operationId": "ban_create_req",
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataBanCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerBan"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Server Members"
        ],
        "summary": "Unban user",
        "description": "Remove a user's ban.",
        "operationId": "ban_remove_req",
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/bans": {
      "get": {
        "tags": [
          "Server Members"
        ],
        "summary": "Fetch Bans",
        "description": "Fetch all bans on a server.",
        "operationId": "ban_list_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanListResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/invites": {
      "get": {
        "tags": [
          "Server Members"
        ],
        "summary": "Fetch Invites",
        "description": "Fetch all server invites.",
        "operationId": "invites_fetch_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invite"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/roles": {
      "post": {
        "tags": [
          "Server Permissions"
        ],
        "summary": "Create Role",
        "description": "Creates a new server role.",
        "operationId": "roles_create_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataCreateRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewRoleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/roles/{role_id}": {
      "delete": {
        "tags": [
          "Server Permissions"
        ],
        "summary": "Delete Role",
        "description": "Delete a server role by its id.",
        "operationId": "roles_delete_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Server Permissions"
        ],
        "summary": "Edit Role",
        "description": "Edit a role by its id.",
        "operationId": "roles_edit_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataEditRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/permissions/{role_id}": {
      "put": {
        "tags": [
          "Server Permissions"
        ],
        "summary": "Set Role Permission",
        "description": "Sets permissions for the specified role in the server.",
        "operationId": "permissions_set_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSetServerRolePermission"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/permissions/default": {
      "put": {
        "tags": [
          "Server Permissions"
        ],
        "summary": "Set Default Permission",
        "description": "Sets permissions for the default role in this server.",
        "operationId": "permissions_set_default_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataPermissionsValue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/servers/{target}/emojis": {
      "get": {
        "tags": [
          "Server Customisation"
        ],
        "summary": "Fetch Server Emoji",
        "description": "Fetch all emoji on a server.",
        "operationId": "emoji_list_list_emoji",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Emoji"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/invites/{target}": {
      "get": {
        "tags": [
          "Invites"
        ],
        "summary": "Fetch Invite",
        "description": "Fetch an invite by its id.",
        "operationId": "invite_fetch_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invites"
        ],
        "summary": "Join Invite",
        "description": "Join an invite by its ID.",
        "operationId": "invite_join_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteJoinResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Invites"
        ],
        "summary": "Delete Invite",
        "description": "Delete an invite by its id.",
        "operationId": "invite_delete_req",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/custom/emoji/{id}": {
      "get": {
        "tags": [
          "Emojis"
        ],
        "summary": "Fetch Emoji",
        "description": "Fetch an emoji by its id.",
        "operationId": "emoji_fetch_fetch_emoji",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Emoji"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "put": {
        "tags": [
          "Emojis"
        ],
        "summary": "Create New Emoji",
        "description": "Create an emoji by its Autumn upload id.",
        "operationId": "emoji_create_create_emoji",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataCreateEmoji"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Emoji"
                }
              }
            }
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Emojis"
        ],
        "summary": "Delete Emoji",
        "description": "Delete an emoji by its id.",
        "operationId": "emoji_delete_delete_emoji",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Session Token": []
          }
        ]
      }
    },
    "/safety/reports/{report}": {
      "patch": {
        "tags": [
          "User Safety"
        ],
        "summary": "Edit Report",
        "description": "Edit a report.",
        "operationId": "edit_report_edit_report",
        "parameters": [
          {
            "name": "report",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
[...]
